<div class="container">
  <div class="profileBackground">
      <img  id="profileImg" src="../../../assets/svg-image/baseline-account_circle-24px.svg">
  </div>
  <div>
      <table mat-table [dataSource]='dataSource|async' class="mat-elevation-z8">
          <!-- Field Column -->
          <ng-container matColumnDef="field">
            <th mat-header-cell *matHeaderCellDef> Field </th>
            <td mat-cell *matCellDef="let element"> {{element.field|uppercase}} </td>
          </ng-container>
  
          <!-- Value Column -->
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  </div>
</div>