<div class="container shadow mt-5"><mat-progress-bar mode="indeterminate" *ngIf="isProgress"></mat-progress-bar>
<mat-card>
  <form name="form" #formModel="ngForm" (ngSubmit)="formModel.form.valid && submit()" novalidate>
    <mat-card-header>
      <mat-card-title>
        <h4>{{userForm.formHeader}}</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="userForm.formType==='signup'" id="drop_up"  style=" margin: auto;
                height: 110px ;
                border-radius: 55px;
                width: 110px ;">
          <img title="Drop Profile Picture" (click)="fileTypeInput.click()"  style="all:inherit;" id="profileImage" src="../../../assets/svg-image/sharp-portrait-24px.svg">
          <input type="file" #fileTypeInput id="FileUpload1" (change)="uploadImge($event)" style="display: none" />
        </div>
      <mat-form-field *ngIf="userForm.formType==='signup'">
        <input #nameControl="ngModel" id="nameId" name="userName" [(ngModel)]="user.name" matInput placeholder="Name">
      </mat-form-field>
      <mat-form-field *ngIf="userForm.formType!=='resetpassword'">
        <input #emailControl="ngModel" id="email" name="email" [(ngModel)]="user.email" matInput placeholder="Email"
          required>
        <mat-error *ngIf="formModel.submitted && !user.email">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="userForm.formType!=='forgetpassword'">
        <input name="passwordName" #passwordControl="ngModel" id="passwordId" [(ngModel)]="user.password" matInput
          placeholder="Password" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="formModel.submitted && !user.password">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <a  *ngIf="userForm.formType==='signin'" [routerLink]="['/user/forgetpassword']" routerLinkActive="router-link-active" >Forgot Password?</a>
      <mat-form-field *ngIf="userForm.formType==='resetpassword'">
        <input name="newPasswordName" #newPasswordControl="ngModel" id="newPasswordId" [(ngModel)]="user.newPassword"
          matInput placeholder="New Password" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="formModel.submitted && !user.newPassword">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="userForm.formType==='resetpassword'">
        <input name="confirmPasswordName" #confirmPasswordControl="ngModel" id="confirmPasswordId" [(ngModel)]="user.confirmPassword"
          matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="formModel.submitted && !user.confirmPassword">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="userForm.formType==='signup'">
        <input #mobileNoControl="ngModel" id="mobileNoId" name="mobileNoName" [(ngModel)]="user.mobileNo" matInput
          placeholder="Mobile No">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <mat-form-field *ngIf="userForm.formType==='signup'">
        <input type="text" placeholder="Select City" aria-label="Number" name="cityName" id="cityId" #cityControl="ngModel" [(ngModel)]="user.city" matInput  [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let city of cityList" value="city" [value]="city">
            {{city}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="p2" *ngIf="userForm.formType==='signup'">
        <label>Gender:</label>
          <mat-radio-group class="ml-2" name="genderName" id="genderId" [(ngModel)]="user.gender">
            <mat-radio-button value="male"><span>Male</span></mat-radio-button>
            <mat-radio-button class="ml-2" value="female"><span>Female</span></mat-radio-button>
          </mat-radio-group>
      </div>
      <mat-form-field *ngIf="userForm.formType==='signup'">
          <input name="dobPicker" matInput [matDatepicker]="dob" placeholder="Date of Birth" [(ngModel)]="user.dob">
          <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
          <mat-datepicker #dob></mat-datepicker>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="d-flex flex-wrap">
      <button type="submit" mat-raised-button color="primary"  matTooltip="Click to Submit Form"
      aria-label="Button that displays a tooltip for a submit button">{{userForm.submitButtonLabel}}</button>
      <button type="button" mat-raised-button color="primary" [matTooltip]="message"
      aria-label="Button that displays a tooltip for extra button" (click)="changeForm()">{{userForm.extraButtonLabel}}</button>
      <div class="g-signin2" data-onsuccess="onSignIn"  matTooltip="Click to Sign In With Google Account"></div>
    </mat-card-actions>
  </form>
</mat-card>
</div>


<!-- <div id="drop_up"  style="border: 1px solid black;height: 400px;width: 500px;">gg
  </div> -->