/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-form-field{
   margin-top: 2%;
   width: 100%;
}
.mat-card-header-text{
   margin: auto !important;
}
body{
   background-color: azure ;
}

@media(max-width: 1000px){
   body{
      background-color: cyan !important;
   }
}

@media(max-width: 770px){
   body{
      background-color: red !important;
   }
}